<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="shortcut icon" href="favicon/favicon.ico" />
  <link rel="stylesheet" href="css/style.bundle.css" />

  <title>Second page</title>
</head>

<body>
  <%= _.template(require('./../components/common/_header.html').default)() %>

  <div class="container">Second Page</div>


  <% var footer = {
    author: "Oksana 2"
  }; %>
  <%= _.template(require('./../components/common/_footer.html').default)(footer) %>
  <%= _.template(require('./../components/common/_commonScript.html').default)() %>

  <script>
      alert("OK")
  </script>
</body>

</html>